<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>For any concerns, please call me:</li>
		<ul>
			<li>6383812363 (within India)</li>
			<li>9600625934 (within India)</li>
		</ul>
		<li>You can also visit our offices and to get insights of how our agents serve food at different places.</li>
		<ul>
			<li>tirupur, Tamilnadu</li>
			<li>tirupur, Tamilnadu</li>
		</ul>
		<li>You can also email your suggestions and feedback at <mark>xyz@gmail.com</mark></li>
	</ul>
</div>